:root {
  --color-black: rgb(35, 31, 32);
  --color-gold: rgb(205, 163, 73);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dee2e6;
  font-family: "Playfair Display", serif;
}

.container {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
}
